.playground-container {
  position: relative;
  height: 100svh;
  width: 100%;
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "barlow condensed";

  h1 {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: var(--font-white);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: "telma";
    mix-blend-mode: difference;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
  }
}

.playground-projects {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playground-project-wrapper {
  margin-top: 1rem;
  padding: 0 1rem;
  height: 50%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playground-project {
  /* height: 65%;
  width: 25%; */

  width: 25%;
  aspect-ratio: 16 / 9;

  background-image: url("../../assets/pics/mockups/laptop-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.playground-projects
  .playground-project-wrapper:nth-child(1)
  .playground-project:nth-child(2) {
  /* height: 100%;
  width: 35%; */

  width: 35%;
  aspect-ratio: 16 / 9;
}

.playground-projects
  .playground-project-wrapper:nth-child(2)
  .playground-project:nth-child(1) {
  /* height: 85%;
  width: 35%; */

  width: 35%;
  aspect-ratio: 4 / 2;
}

.playground-projects
  .playground-project-wrapper:nth-child(2)
  .playground-project:nth-child(2) {
  /* height: 50%;
  width: 15%; */

  width: 15%;
  aspect-ratio: 2 / 2;
}
