.colophon-container {
  background-color: var(--bg-white);
  padding: 1rem 0.75rem;
}

.colophon-child {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  font-family: "barlow condensed";
  overflow: hidden;
  padding: 0 0.5rem;
  padding-bottom: 0.75rem;

  h1 {
    text-transform: uppercase;
    font-size: clamp(2.25rem, 1.8193rem + 1.8377vw, 3rem);
    font-weight: 500;
    line-height: 1;
    color: var(--clr-main);
    font-family: telma;
  }
}

.colophon-content-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;

  p {
    width: 85%;
    font-family: var(--font-main);
    /* text-transform: uppercase; */
    font-size: 1rem;
    font-weight: 500;
    margin: 0.25rem 0;
    color: var(--clr-main);

    @media (width < 640px) {
      width: 90%;
    }
  }

  .light-color {
    color: var(--font-primary);
  }

  h1 {
    font-family: var(--font-main);
    margin: 1rem 0;
    text-align: left;
    text-transform: uppercase;
    font-size: clamp(2.25rem, 1.8193rem + 1.8377vw, 3rem);
    font-weight: 500;
    line-height: 1;
    color: var(--clr-main);
  }
}
