.colophon-container {
  background-color: var(--bg-white);
  padding: 1rem 0.75rem;
}

.colophon-child {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  font-family: "barlow condensed";
  overflow: hidden;
  padding: 0 0.5rem;
  padding-bottom: 0.75rem;

  h1 {
    text-transform: uppercase;
    font-size: clamp(2.25rem, 1.8193rem + 1.8377vw, 3rem);
    font-weight: 600;
    line-height: 1;
    color: var(--clr-main);
    font-family: "barlow condensed";
  }
}

.tech-used,
.design-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 4rem;

  p {
    font-size: 0.75rem;
    font-family: var(--font-main);
    margin: 0 0 2rem 0;
    text-align: left;
    text-transform: uppercase;
  }

  h1 {
    text-transform: uppercase;
    width: 65%;
    font-size: clamp(2.5rem, 2.2143rem + 1.4286vw, 3.5rem);
    font-family: var(--font-main);
    font-family: "barlow condensed";
    line-height: 1;
    font-weight: 600;

    @media (width < 640px) {
      width: 95%;
    }
  }
}
