.colophon-container {
  background-color: var(--bg-white);
}

.colophon-child {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: start;
  height: 100svh;
  font-family: "barlow condensed";
  overflow: hidden;
  padding: 0 0.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid lightgray;

  p {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -52%);
    font-family: var(--font-main);
    font-size: 1.05rem;
    width: 50%;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--font-black);
    text-align: center;
    @media (width < 640px) {
      width: 100%;
      text-align: start;
    }

    span {
      font-family: "telma";
      font-size: 1.05rem;
      background-image: linear-gradient(90deg, #ff7a18, #ff4d6d, #a855f7);
      background-clip: text;
      color: transparent;
      padding: 0 0.25rem;
    }
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: var(--font-black);
  }
}

.technology-section,
.design-section,
.inspiration-section {
  font-family: var(--font-main);
  margin-top: 2rem;
  padding: 0 1.25rem;
}

.technology-content,
.design-content,
.inspiration-content {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;

  p {
    text-align: center;
    margin-bottom: 0.75rem;
    width: 95%;
    overflow: hidden;
    color: rgb(65, 65, 65);
    font-weight: 500;
    @media (width < 640px) {
      width: 100%;
      text-align: start;
    }
    span {
      color: var(--font-black);
      font-weight: 600;
    }
  }
}

.inspired-devs {
  margin-top: 1.5rem;
  width: 100%;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;

    @media (width < 640px) {
      flex-direction: column;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      color: var(--font-black);
      cursor: pointer;

      svg {
        height: 18px;
      }
    }
  }
}
