.about-container {
  padding: 1.5rem 1.25rem;
  /* border-top: 1px solid gray; */
  border-bottom: 1px solid gray;
  z-index: 5;
  background-color: var(--bg-black);

  ul li {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--font-white);
  }

  .about-content {
    margin-top: 1.5rem;
    font-size: clamp(1.5rem, 1.4rem + 1.2vw, 2.25rem);
    font-weight: 500;
    line-height: 2.5rem;
    width: 100%;
    p {
      overflow: hidden;
      color: var(--font-primary);
      span {
        color: #ffb700;
      }
    }
  }
}

.highlight-contents {
  margin: 2rem 0;

  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: left;
    list-style: none;

    @media (width > 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    li {
      font-size: 1.1rem;
      color: rgb(100, 100, 100);
      /* color: white; */
      margin: 0.25rem 0;
      font-weight: 300;
    }
  }
}

.about-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.projects-built,
.tech-skills {
  width: 100%;

  h3 {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  .projects-content {
    margin: 1rem 0;

    p {
      font-size: clamp(1.75rem, 1.4rem + 1.2vw, 2.25rem);
      margin: 0.75rem 0;
      width: 100%;
      line-height: 2.25rem;
      color: rgb(161, 161, 161);

      span {
        color: #ffb700;
        font-size: 1.25rem;
      }
    }
  }
}

.split-line {
  display: block;
  overflow: hidden;
  will-change: transform, clip-path;
}
