.about-container {
  padding: 1.5rem 1.25rem;
  z-index: 5;
  background-color: var(--bg-white);
  font-family: var(--font-main);

  .about-content {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 500;

    p {
      text-align: center;
      margin-bottom: 0.75rem;
      width: 95%;
      overflow: hidden;
      color: rgb(65, 65, 65);
      @media (width < 640px) {
        width: 100%;
        text-align: start;
      }
      span {
        color: var(--font-black);
        font-weight: 600;
      }
    }
  }
}

.highlight-contents {
  font-family: var(--font-main);
  margin: 2rem 0;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    list-style: none;

    @media (width < 700px) {
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      font-size: 0.85rem;
      color: var(--font-black);
      font-weight: 600;
      font-family: var(--font-main);
    }
  }
}

.about-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.projects-built,
.tech-skills,
.techstack-container {
  width: 100%;

  h3 {
    color: var(--bg-black);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .projects-content {
    margin: 1rem 0;

    p {
      font-size: 1rem;
      margin: 0.25rem 0;
      width: 100%;

      span {
        font-weight: 600;
        font-family: var(--font-main);
        color: var(--font-black);
        font-size: 0.85rem;
      }
    }
  }
}

.techstack-container {
  width: 100%;
}

.skill-set-grid {
  margin-top: 1.5rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;

  @media (width < 640px) {
    flex-direction: column;
  }
}

.skill-set {
  position: relative;
  height: 100%;
  border-radius: 1rem;
}

.skill-heading {
  overflow: hidden;
  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--font-primary);
    text-transform: uppercase;

    span {
      font-size: 1.5rem;
      background-image: linear-gradient(90deg, #ff7a18, #ff4d6d, #a855f7);
      background-clip: text;
      color: transparent;
      font-family: telma;
    }
  }
}

.stacks {
  margin-top: 0.5rem;
  p {
    color: var(--font-black);
    font-family: satoshi;
    font-weight: 500;
    margin: 0.25rem 0;
  }
}

.split-line {
  display: block;
  overflow: hidden;
  will-change: transform, clip-path;
}
