.hero-container {
  background-color: var(--bg-white);
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  z-index: -1;
}

.hero-content {
  position: relative;
  font-family: "general sans";
  height: 70%;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;

  @media (width < 640px) {
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  h1 {
    mix-blend-mode: difference;
    z-index: 15;
    color: white;
  }

  h1 {
    font-size: clamp(3rem, 1.8571rem + 5.7143vw, 7rem);
    text-align: left;
    font-weight: 500;
    line-height: 1.2;
  }

  .image-wrapper {
    position: absolute;
    z-index: 10;
    height: 60vh;
    width: 15em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* cliPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)", */

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.links-and-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 3rem;
  width: 90%;

  @media (width < 640px) {
    flex-direction: column;
    align-items: start;
  }
}

.quote {
  display: flex;
  align-items: center;
  width: 45%;
  line-height: 1.25rem;
  @media (width < 640px) {
    width: 85%;
  }
}

.download {
  font-family: general sans;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--font-black);
    padding: 0.75rem;
    border: 2px solid;
    border-radius: 2rem;
    height: auto;
    width: 35%;
    text-wrap: nowrap;

    @media (width < 640px) {
      width: 100%;
    }

    .download-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      padding: 0.25rem;
      border-radius: 50%;
    }
  }
}

.oChar,
.oCharSecond {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.oChar-icon {
  position: absolute;
  width: 0.55em;
  object-fit: contain;
}

.oCharSecond-icon {
  position: absolute;
  width: 0.6em;
  object-fit: contain;
}
