.hero-container {
  background-color: var(--bg-white);
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
}

.hero-content {
  font-family: "general sans";
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.heading {
  width: 95%;
  h1 {
    font-size: clamp(4.5rem, 16vw, 11rem);
    line-height: 1.25;
    padding: 0;
    margin: 0;
    text-wrap: nowrap;
    font-weight: 600;
    text-align: left;
    overflow: hidden;

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.links-and-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 3rem;
  width: 90%;

  @media (width < 640px) {
    flex-direction: column;
    align-items: start;
  }
}

.quote {
  display: flex;
  align-items: center;
  width: 45%;
  line-height: 1.25rem;
  @media (width < 640px) {
    width: 85%;
  }
}

.download {
  font-family: general sans;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--font-black);
    padding: 0.75rem;
    border: 2px solid;
    border-radius: 2rem;
    height: auto;
    width: 35%;
    text-wrap: nowrap;

    @media (width < 640px) {
      width: 100%;
    }

    .download-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      padding: 0.25rem;
      border-radius: 50%;
    }
  }
}

.oChar,
.oCharSecond {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.oChar-icon {
  position: absolute;
  width: 0.55em;
  object-fit: contain;
}

.oCharSecond-icon {
  position: absolute;
  width: 0.6em;
  object-fit: contain;
}
