.work-section {
  z-index: -1;
}

.work-container {
  background-color: var(--bg-white);
  color: var(--font-white);
  margin: 0;
  padding: 1rem 1.25rem;
  font-family: var(--font-main);

  ul li {
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-black);
  }

  .work-content {
    margin-top: 2rem;
    overflow: hidden;

    h3 {
      color: var(--bg-black);
      font-size: 0.9rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      /* font-size: clamp(1.75rem, 1.4rem + 1.2vw, 2.25rem); */
      font-size: 1.15rem;
      width: 85%;
      margin: 0.75rem 0;
      color: var(--font-black);
    }
  }
}
