.work-section {
  z-index: -1;
}

.work-container {
  background-color: var(--bg-black);
  color: var(--font-white);
  margin: 0;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid lightgray;

  ul li {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .work-content {
    margin-top: 2rem;
    overflow: hidden;

    h3 {
      letter-spacing: 0.05rem;
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      font-size: clamp(1.75rem, 1.4rem + 1.2vw, 2.25rem);
      line-height: 2.5rem;
      margin: 0.75rem 0;
      color: var(--font-primary);
    }
  }
}
