header {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 50;
}

.header-container {
  background-color: rgba(0, 0, 0, 0.713);
  backdrop-filter: blur(0.25rem);
  color: var(--font-white);
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.75rem;
  border-radius: 1rem;
  border: 2px solid gray;

  .nav ul {
    display: flex;
    list-style: none;
    gap: 1.25rem;

    li {
      text-shadow: 0rem -1rem 0rem #ffb700;
      overflow: hidden;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
