header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  color: var(--font-white);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  mix-blend-mode: difference;
  font-family: "barlow condensed";

  .logo {
    p {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .portfolio-of {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }

  .nav ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;

    li {
      text-transform: uppercase;
      text-shadow: 0rem -1.2rem 0rem white;
      overflow: hidden;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
