header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  color: var(--font-white);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0.75rem 0.75rem;
  mix-blend-mode: difference;

  .nav ul {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;

    li {
      text-shadow: 0rem -0.95rem 0rem white;
      overflow: hidden;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}
