header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  color: var(--bg-main);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  mix-blend-mode: difference;
  font-family: var(--font-main);

  .logo {
    p {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .portfolio-of {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
  }

  .nav ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;

    li {
      text-transform: uppercase;
      text-shadow: 0rem -1rem 0rem white;
      overflow: hidden;
      cursor: pointer;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}
