:root {
  /*STROKES*/
  --card-1-stroke: #e67339;
  --card-2-stroke: #a66363;
  --card-3-stroke: #eb3828;
  --card-4-stroke: #a6a09d;
  --card-5-stroke: #99938a;
  --card-6-stroke: #5f7c98;
  --card-base-stroke: #e0e0e0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  row-gap: 1.5rem;

  @media (width > 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projects-child {
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  cursor: pointer;

  .svg-stroke {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    height: 100%;
    width: 100%;
  }

  img,
  svg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: transform;
    z-index: 5;
  }

  .project-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 10;
    h1 {
      color: var(--font-black);
      font-family: satoshi;
      font-weight: 500;
    }
  }
}

.project-card {
  .svg-stroke-2 svg path {
    stroke: var(--card-base-stroke);
  }
}

.project-details {
  width: 100%;
  margin: 0.25rem 0;

  p {
    font-family: satoshi;
    width: 100%;
    margin: 0.75rem 0;
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    line-height: clamp(1.25rem, 3vw, 2.2rem);
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--font-black);

    strong {
      font-size: 0.9rem;
      letter-spacing: 0rem;
      background-image: linear-gradient(90deg, #ff7a18, #ff4d6d, #a855f7);
      background-clip: text;
      color: transparent;
    }
  }

  a {
    width: fit-content;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--font-black);
    cursor: pointer;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.project-card:nth-child(1) {
  .svg-stroke-1 svg path {
    stroke: var(--card-1-stroke);
  }
}

.project-card:nth-child(2) {
  .svg-stroke-1 svg path {
    stroke: var(--card-2-stroke);
  }
}

.project-card:nth-child(3) {
  .svg-stroke-1 svg path {
    stroke: var(--card-3-stroke);
  }
}

.project-card:nth-child(4) {
  .svg-stroke-1 svg path {
    stroke: var(--card-4-stroke);
  }
}

.project-card:nth-child(5) {
  .svg-stroke-1 svg path {
    stroke: var(--card-6-stroke);
  }
}
