.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1.5rem;
  row-gap: 4rem;
  margin-top: 1.5rem;

  @media (width > 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.projects-child {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 0.5rem;
  img {
    position: absolute;
    height: 140%;
    width: 100%;
    transform: scale(1.5);
    object-fit: cover;
    bottom: 0;
    will-change: transform;
  }
}

.project-card:nth-child(2) .projects-child {
  /* height: 60vh; */
  aspect-ratio: 16 / 9;
}

.project-card:nth-child(3) .projects-child {
  /* height: 50vh; */
  width: 90%;
  aspect-ratio: 16 / 10;
}

.project-card:nth-child(4) .projects-child {
  /* height: 65vh; */
  aspect-ratio: 5 / 4;
}

.project-card:nth-child(5) .projects-child {
  /* height: 50vh; */
  aspect-ratio: 16 / 10;
  filter: blur(1rem);
}

.project-details {
  width: 100%;
  margin: 0.25rem 0;

  p {
    width: 100%;
    margin: 0.75rem 0;
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    line-height: clamp(1.25rem, 3vw, 2.2rem);
    font-weight: 600;
    letter-spacing: 0.05rem;

    strong {
      font-size: 0.9rem;
      color: #ffb700;
    }
  }

  a {
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--font-primary);
    cursor: pointer;
  }
}
