@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@font-face {
  font-family: "almarena";
  src: url("../src/assets/almarenaneue-regular.otf");
  font-weight: 900;
}

@font-face {
  font-family: "almarena-italic";
  src: url("../src/assets/almarenaneue-ds-regular-it.otf");
  font-weight: 400;
}

:root {
  --bg-main: #fff;
  --bg-selection: #dadada;
  --bg-skill: whitesmoke;
  --clr-main: #000;
  --font-primary: rgb(161, 161, 161);
  --heading-gradient: rgb(155, 155, 155), #fff;
  --page-transition-bg: #fff;
  --page-transition-box: #dadada;

  --font-secondary: "general sans";
  --font-main: satoshi;
}

/* .dark {
  --bg-main: #000;
  --bg-selection: #dadada;
  --bg-skill: #1c1c1c;
  --clr-main: #fff;
  --font-primary: rgb(161, 161, 161);
  --heading-gradient: whitesmoke, #000;
  --page-transition-bg: #000;
  --page-transition-box: #101010;

  --font-secondary: "general sans";
  --font-main: satoshi;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

body {
  position: relative;
  font-family: "almarena";
  background-color: var(--bg-main);
  &::selection {
    background-color: var(--bg-selection);
    color: var(--font-main);
  }
}

html {
  scroll-behavior: smooth;
}

video,
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;
}
