@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@font-face {
  font-family: "almarena";
  src: url("../src/assets/almarenaneue-regular.otf");
  font-weight: 900;
}

@font-face {
  font-family: "almarena-italic";
  src: url("../src/assets/almarenaneue-ds-regular-it.otf");
  font-weight: 400;
}

:root {
  --bg-black: black;
  --bg-white: white;
  --bg-whitesmoke: whitesmoke;
  --bg-extra: #cf5427;
  --font-white: white;
  --font-black: black;
  --font-primary: rgb(161, 161, 161);

  /* LOADED FONTS */
  --font-secondary: "general sans";
  --font-main: satoshi;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

body {
  font-family: "almarena";
  background-color: var(--bg-white);

  &::selection {
    background-color: #dadada;
    color: black;
  }
}

html {
  scroll-behavior: smooth;
}

video,
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;
}
